

<form>
    <h2>Авторизация пользователя</h2>

    <div class="form-group">
        <label for="RegistrationFormControlInputEmail">Email</label>
        <input type="email" class="form-control" id="RegistrationFormControlInputEmail" placeholder="example@example.com" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
        <label for="RegistrationFormControlInputPass">Password</label>
        <input type="password" class="form-control" id="RegistrationFormControlInputPass" placeholder="Password" (keyup.enter)="loginUser()" [(ngModel)]="pass" [ngModelOptions]="{standalone: true} " >
    </div>
    <button type="button" class="btn" (click)="loginUser()">Авторизоваться</button>
    <br>
    <label>{{testCredentials}}</label>

</form>
