<div *ngIf="!loading; else loadingBlock">
  Мои контакты
  <button (click)="contactToggle = !contactToggle">Показать</button>
  <p *ngIf="contactToggle">
      <span>
        <div class="card" *ngFor="let contacts of contacts, let j=index">
          {{j + 1}}. {{contacts.type_label}} : {{contacts.value}}  <button class="btn btn-danger" (click)="deleteContact(j)">Удалить</button></div>
        <button class="btn btn-danger" (click)="activateCreateContact()">Добавить контакт</button>
      </span>
    <br>
    <br>
<!--    <button class="btn btn-danger" (click)="activateCreateContact()">Добавить контакт</button>-->
  </p>
    <div class="form-group" *ngIf="createContactFlag">
      <input type="text" class="form-control" id="CreateFormControlInputContactName" placeholder="Name of Product" [(ngModel)]="nameOfProduct" [ngModelOptions]="{standalone: true}">
      <input type="text" class="form-control" id="CreateFormControlInputContactValue" placeholder="Введите" [(ngModel)]="valueOfContact" [ngModelOptions]="{standalone: true}">
      <button type="button" class="btn btn-danger" (click)="createContact()">Записать</button>
      <br>
      <br>
      <br>
      <br>
    </div>
  <br>
  Мои заказы
  <button (click)="ordersToggle = !ordersToggle">Показать</button>

  <div *ngIf="orders.length; else noTodos">
    <div class="card" *ngFor="let ordersinline of orders, let i=index">
      <p *ngIf="ordersToggle">
            <span>Заказ номер {{i + 1}}: Пользователь {{ordersinline.user.last_name}} {{ordersinline.user.first_name}}
              от {{ordersinline.timestamp| date : 'yyyy-MM-dd HH:mm:ss':'+0600'}}
              <br>
            Заказал:
            <div class="card" *ngFor="let products of ordersinline.products, let j=index">{{j + 1}}
              . {{products.product_name}} Цена:{{products.product_price}}Руб.</div>
            По адресу: {{ordersinline.address}}
              <br>
              Сумма: {{ordersinline.summ}} руб.
              <br>
              Сумма со скидкой: {{ordersinline.summ_discount}} руб.
              <br>
                <br>
                 <button class="btn btn-danger" (click)="deleteOrder(i)">Удалить</button>
            </span>
      </p>
    </div>

  </div>

  <ng-template #noTodos>
    <p>Нет элементов</p>
  </ng-template>
</div>

<ng-template #loadingBlock>
  <p>Загрузка...</p>
</ng-template>

