<div *ngIf="!loading; else loadingBlock">
  Мои контакты
  <button type="button" (click)="contactToggle = !contactToggle">Показать</button>
  <p *ngIf="contactToggle">
      <span>
        <div class="card" *ngFor="let contact of contacts, let j=index">
          {{j + 1}}. {{contact.type_label}} : {{contact.value}}
          <button class="btn btn-danger" (click)="deleteContact(j)">Удалить</button></div>
        <button class="btn" (click)="createContactFlag = !createContactFlag">Добавить контакт</button>
      </span>
    <br>
    <br>
  </p>
  <div class="form-group" *ngIf="createContactFlag">
        <form [formGroup]="contactForm">
          <select formControlName="contactType" [(ngModel)]="contactChoose" >
            <option [ngValue]="null" disabled>Choose your type</option>
            <option *ngFor="let tp of contactTypes" [ngValue]="tp">
              {{ tp.type}}
            </option>
          </select>
          <input type="text" class="form-control" id="CreateFormControlInputContactType" placeholder="Нажмите выбрать или введите свой тип контакта"
                 required minlength="2"
                 [(ngModel)]="typeOfContact" [ngModelOptions]="{standalone: true}" #contactTypeInput=ngModel>
          <div *ngIf="contactTypeInput.invalid && (contactTypeInput.dirty || contactTypeInput.touched)"
               class="alert alert-danger">
            <div *ngIf="contactTypeInput.errors.required">
              Необходимо ввести тип контакта.
            </div>
            <div *ngIf="contactTypeInput.errors.minlength">
              Тип контакта дожен быть длиннее 2 символов.
            </div>
          </div>
          <label>{{errorMessage}}</label>
          <br>
          <button type="button" class="btn btn-danger" (click)="setContactType()">Выбрать</button>
          <br>
          <input type="text" class="form-control" id="CreateFormControlInputContactValue" placeholder="Введите значение"
                 required minlength="2"
                 [(ngModel)]="valueOfContact" [ngModelOptions]="{standalone: true}" #contactValueInput= ngModel>
          <div *ngIf="contactValueInput.invalid && (contactValueInput.dirty || contactValueInput.touched)"
               class="alert alert-danger">
            <div *ngIf="contactValueInput.errors.required">
              Необходимо ввести тип контакта.
            </div>
            <div *ngIf="contactValueInput.errors.minlength">
              Тип контакта дожен быть длиннее 2 символов.
            </div>
          </div>
          <button type="button" class="btn btn-danger" (click)="createContact()">Отправить</button>
        </form>
    <br>
    <br>
    <br>
    <br>
  </div>
  <br>


  Мои заказы
  <button type="button" (click)="ordersToggle = !ordersToggle">Скрыть</button>

  <div *ngIf="orders.length; else noTodos">
    <div class="card" *ngFor="let ordersinline of orders, let i=index">
      <p *ngIf="ordersToggle">
            <span>Заказ номер {{i + 1}}: Пользователь {{ordersinline.user.last_name}} {{ordersinline.user.first_name}}
              от {{ordersinline.timestamp| date : 'yyyy-MM-dd HH:mm:ss':'+0600'}}
              <br>
            Заказал:
            <div class="card" *ngFor="let products of ordersinline.products, let j=index">{{j + 1}}
              . {{products.product_name}} Цена:{{products.product_price}}Руб.</div>
            По адресу: {{ordersinline.address}}
              <br>
              Сумма: {{ordersinline.summ}} руб.
              <br>
              Сумма со скидкой: {{ordersinline.summ_discount}} руб.
              <br>
                <br>
                 <button class="btn btn-danger" (click)="deleteOrder(i)">Удалить</button>
            </span>
      </p>
    </div>
  </div>

  <ng-template #noTodos>
    <p>Нет элементов</p>
  </ng-template>
</div>

<ng-template #loadingBlock>
  <p>Загрузка...</p>
</ng-template>

