<h2>Просмотр-удаление пользователей</h2>
<div class="card" *ngFor="let users of allUsers; let i = index">
  <p>
    <span>{{i + 1}}. {{users.last_name}}  {{users.first_name}} Админ: {{users.admin_toggle}}</span>
    <span>
            <button class="btn btn-danger" (click)="activateContacts(i)">Подробнее</button>
            <button class="btn btn-danger" (click)="activateReset(i)">Сбросить пароль</button>
            <button class="btn btn-danger" (click)="deleteUser(i)">Удалить</button>
          </span>
  </p>
</div>
<div class="form-group" *ngIf="resetActive">
  <label for="UpdateFormControlInputPass">Password</label>
  <input type="password" class="form-control" id="UpdateFormControlInputPass" placeholder="Password"
         [(ngModel)]="newResetPass" [ngModelOptions]="{standalone: true}">
  <button type="button" class="btn btn-danger" (click)="resetPassword(idOfReset)">Сохранить новый пароль</button>
  <br>
  <br>
  <br>
  <br>
</div>
<div class="form-group" *ngIf="contactActive">
  <h2>Сделать пользователя админом</h2>
  <br>
  <div class="card">
    <select [(ngModel)]="adminToggle">
      <option [value]="false">Пользователь</option>
      <option [value]="true">Админ</option>
    </select>
    <button type="button" class="btn btn-danger" (click)="chooseAdmin()">Подтвердить</button>
  </div>
  <br>
  <h2>Контакты {{nameOfUserWhichContacts}}</h2>
  <div class="card" *ngFor="let contacts of contacts; let l = index">
    <p>
      <span>{{l + 1}}. {{contacts.type_label}}  {{contacts.value}}</span>
      <span>
            <button class="btn btn-danger" (click)="deleteContact(l)">Удалить</button>
          </span>
    </p>
  </div>
  <br>
  <br>
  <div class="form-group">
    <h2>Создать новый контакт для {{nameOfUserWhichContacts}}</h2>
    <div class="card">
      <form [formGroup]="contactForm">
        <label>Выберите тип контакта</label>
        <select formControlName="contactType" [(ngModel)]="contactChoose">
          <option [ngValue]="null" disabled>Choose your type</option>
          <option *ngFor="let tp of contactTypes" [ngValue]="tp">
            {{ tp.type}}
          </option>
        </select>
        <input type="text" class="form-control" id="CreateFormControlInputContactType"
               placeholder="Нажмите выбрать или введите свой тип контакта"
               [(ngModel)]="typeOfContact" [ngModelOptions]="{standalone: true}">
        <label>{{errorMessage}}</label>
        <button type="button" class="btn btn-danger" (click)="setContactType()">Выбрать</button>
        <br>
        <br>
        <input type="text" class="form-control" id="CreateFormControlInputContactValue" placeholder="Введите значение"
               [(ngModel)]="valueOfContact" [ngModelOptions]="{standalone: true}">
        <button type="button" class="btn btn-danger" (click)="createContact()">Отправить</button>
      </form>
    </div>
    <br>
    <br>
  </div>
</div>
<button class="btn btn-danger" (click)="fetchUsers()">Обновить</button>
<br>
<div class="card">
  <h2>Создание-удаление скидок</h2>
  <div class="card" *ngFor="let discount of allDiscounts, let d=index">
            <span>{{d + 1}}: {{discount.badge}} {{discount.percent}}% {{discount.summ}}.руб
                 <button class="btn btn-danger" (click)="deleteDiscount(d)">Удалить</button>
            </span>
  </div>
  <button class="btn btn-danger" (click)="fetchDiscounts()">Обновить</button>
  <br>
  <button class="btn btn-danger" (click)="createNewDiscount()">Создать новую скидку</button>
  <div class="form-group" *ngIf="flagOfNewDiscount">
    <br>
    <label for="NewBadgeDiscount">Имя скидки</label>
    <input type="text" class="form-control" id="NewBadgeDiscount" placeholder="Name"
           [(ngModel)]="nameOfBadgeDiscount" [ngModelOptions]="{standalone: true}">
    <label for="NewPercentDiscount">Процент скидки</label>
    <input type="text" class="form-control" id="NewPercentDiscount" placeholder="Percent"
           [(ngModel)]="percentOfDiscount" [ngModelOptions]="{standalone: true}">
    <label for="NewSummDiscount">Сумма скидки</label>
    <input type="text" class="form-control" id="NewSummDiscount" placeholder="Summ"
           [(ngModel)]="summOfDiscount" [ngModelOptions]="{standalone: true}">
    <button type="button" class="btn btn-danger" (click)="saveDiscount()">Сохранить новую скидку</button>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
<br>
<h2>Просмотр-удаление заказов</h2>
<div class="card" *ngFor="let ordersinline of allOrders, let i=index">
            <span>Заказ номер {{i + 1}}: Пользователь {{ordersinline.user.last_name}} {{ordersinline.user.first_name}}
              от {{ordersinline.timestamp| date : 'yyyy-MM-dd HH:mm:ss':'+0600'}}
              <br>
            Заказал:
            <div class="card" *ngFor="let products of ordersinline.products, let j=index">{{j + 1}}
              . {{products.product_name}} Цена: {{products.product_price}}Руб.</div>
            По адресу: {{ordersinline.address}}
              <br>
                <br>
                 <button class="btn btn-danger" (click)="deleteOrder(i)">Удалить</button>
                <br>
            </span>
</div>
<button class="btn btn-danger" (click)="fetchOrders()">Обновить</button>
<br>
<h2>Создание-удаление продуктов</h2>
<div class="card" *ngFor="let products of allProducts; let i = index">
  <p>
    <span>{{i + 1}}. {{products.product_name}} Цена: {{products.product_price}} Руб.</span>
    <span>
            <button class="btn btn-danger" (click)="deleteProduct(i)">Удалить</button>
          </span>
  </p>
</div>
<div class="form-group" *ngIf="createProductFlag">
  <input type="text" class="form-control" id="CreateFormControlInputProductName" placeholder="Name of Product"
         [(ngModel)]="nameOfProduct" [ngModelOptions]="{standalone: true}">
  <input type="text" class="form-control" id="CreateFormControlInputProductPrice" placeholder="Price"
         [(ngModel)]="priceOfProduct" [ngModelOptions]="{standalone: true}">
  <button type="button" class="btn btn-danger" (click)="createProduct()">Записать</button>
  <br>
  <br>
  <br>
  <br>
</div>
<button class="btn btn-danger" (click)="fetchProducts()">Обновить</button>
<button class="btn btn-danger" (click)="activateCreateProduct()">Создать продукт</button>
<div class="card">
  <h2>Узнать количества заказанных продуктов у пользователя</h2>

  <div>
    <input type="date" [ngModel]="dtStart | date:'yyyy-MM-dd'" (ngModelChange)="dtStart = $event">

  </div>
  <div>
    <input type="date" [ngModel]="dtEnd | date:'yyyy-MM-dd'" (ngModelChange)="dtEnd = $event">

  </div>
  <div class="card">
    <form [formGroup]="userForm">
      <select formControlName="selUser" [(ngModel)]="userChoose">
        <option [ngValue]="null" disabled>Choose User</option>
        <option *ngFor="let user of allUsers" [ngValue]="user">
          {{ user.first_name}}  {{user.last_name}}
        </option>
      </select>
    </form>
  </div>
  <button class="btn btn-danger" (click)="queryListOfProduct()">Запрос</button>

  <div class="card" *ngFor="let orders of selUserOrders; let u = index">
    {{orders.timestamp | date:'dd-MM-yyyy'}} Сумма:{{orders.summ}}.руб Сумма со скидкой:{{orders.summ_discount}}.руб
    <div *ngFor="let products of orders.products; let u = index">
      <span> {{products.product_name}}  {{products.product_price}}.руб</span>
    </div>

  </div>

</div>
