

<form>

    <h2>Регистрация нового пользователя</h2>
    <div>
    <div class="form-group">
        <input type="text"  placeholder="Имя" class="form-control" id="name"
               required minlength="2"
               [(ngModel)]="firstname" [ngModelOptions]="{standalone: true}" #name="ngModel">
      <div *ngIf="name.invalid && (name.dirty || name.touched)"
           class="alert alert-danger">
        <div *ngIf="name.errors.required">
          Необходимо ввести Имя.
        </div>
        <div *ngIf="name.errors.minlength">
          Имя должно быть больше 2 символов.
        </div>
      </div>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="surName" placeholder="Фамилия"
               required minlength="2"
               [(ngModel)]="lastname" [ngModelOptions]="{standalone: true}" #surName="ngModel">
      <div *ngIf="surName.invalid && (surName.dirty || surName.touched)"
           class="alert alert-danger">
        <div *ngIf="surName.errors.required">
          Необходимо ввести Фамилию.
        </div>
        <div *ngIf="surName.errors.minlength">
          Фамилия должна быть больше 2 символов.
        </div>
      </div>
    </div>
    <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="example@example.com"
               required minlength="6" pattern=".+@[a-z]+.(com|ru|org|list)"
               [(ngModel)]="email" [ngModelOptions]="{standalone: true}" #emailInput=ngModel>

      <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)"
           class="alert alert-danger">
        <div *ngIf="emailInput.errors.required">
          Необходимо ввести адрес электронной почты.
        </div>
        <div *ngIf="emailInput.errors.minlength">
          Email должен быть больше 6 символов.
        </div>
        <div *ngIf="emailInput.errors.pattern">
          Email должен соотвествовать **@**.com|ru|list|org
        </div>
      </div>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="pass" placeholder="Password"
               required minlength="3"
               [(ngModel)]="pass" [ngModelOptions]="{standalone: true}" #passInput=ngModel>
      <div *ngIf="passInput.invalid && (passInput.dirty || passInput.touched)"
           class="alert alert-danger">
        <div *ngIf="passInput.errors.required">
          Необходимо ввести пароль.
        </div>
        <div *ngIf="passInput.errors.minlength">
          Пароль должен быть больше 3 символов.
        </div>
      </div>
    </div>
    <button type="button" class="btn" (click)="saveUser()">Зарегистрироваться</button>
    </div>
    <label>{{testCredentials}}</label>
</form>
